<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row border-bottom">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h1 class="m-t-xxs">{{ 'HDR_CITIES' | translate }}</h1>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
        	<button ng-click="addEntity()" type="button" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> {{ 'BTN_ADD' | translate }}</button>
        </div>
    </div>
	<div class="row m-t-md">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-save-state class="grid m-b-sm">
                <div class="grid-msg-overlay" ng-hide="!loading">
                    <div class="msg">
                        <span>{{ 'LBL_LOADING_DATA' | translate }} <i class="fa fa-spinner fa-spin"></i></span>
                    </div>
                </div>
                <div class="grid-msg-overlay" ng-hide="loading || gridOptions.data.length">
                    <div class="msg">
                        <span>{{ 'LBL_NO_DATA' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>	
    </div>
</div>